<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="maka-pages" id="maka-pages" style="touch-action: pan-x; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: block; filter: blur(0px);">
    <div class="maka-page maka-page-0"
         style="z-index: 999; display: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1);">
        <div class="page-bg-0"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-0"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="0"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="1"
                 style="width: 64.0406px; height: 55.6313px; left: 174.68px; top: 172.957px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/c5248432a9e4f4b381509de6b2c21331.png?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 64.0406px 55.6313px; background-position: center center; display: none; animation: 1600ms linear 1300ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/c5248432a9e4f4b381509de6b2c21331.png?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="2"
                 style="width: 32.9906px; height: 252.928px; left: 190.228px; top: 246.812px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ce8cc4a78f7de32a01a260da1ae077b9.png?x-oss-process=image/crop,x_0,y_0,w_51,h_391/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 32.9906px 252.928px; background-position: center center; display: none; animation: 1600ms linear 1700ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/ce8cc4a78f7de32a01a260da1ae077b9.png?x-oss-process=image/crop,x_0,y_0,w_51,h_391/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="3"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="4"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-1"
         style="z-index: 998; display: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1;">
        <div class="page-bg-1"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-1"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="5"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="8"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="9"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="10"
                 style="position: absolute; width: 334.44px; height: 260.724px; top: 47.5471px; left: 38.801px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="font-family: makahttpsfontmakaimmakafont5227435TKMZNNEWG1526210107679-dh00eittf; width: 100%; height: 100%; color: rgb(129, 129, 129); text-align: left; font-weight: bold; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 2000ms 1 normal both running fadeInDown;">
                    <div>
                        我最想要的生活，就是每天早上起来，能看到你和阳光都在，能给你做早餐；我最想要的工作，就是能按时回家看见你，能给你买让你开心的东西；我最想要的家庭，就是不用很大，但却有我们两个喜欢的样子，能一起窝在沙发上看电视；我想要的有很多，但最想跟你一起经历，我最想要一起的人，只有你！
                    </div>
                </div>
            </div>
            <div ele-id="11"
                 style="width: 230.287px; height: 349.312px; left: 181.001px; top: 303.513px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/fd9c6cab40f7c14c39bd676c7e3ab990.png?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 230.287px 349.312px; background-position: center center; display: none; animation: 1600ms linear 1300ms 1 normal both running fadeInNormal;">
                    <img src="https://img1.maka.im/user/5227435/images/fd9c6cab40f7c14c39bd676c7e3ab990.png?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-2"
         style="z-index: 997; display: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1;">
        <div class="page-bg-2"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-2"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="12"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="15"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="16"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="19"
                 style="width: 337.793px; height: 290.889px; left: 38.6064px; top: 26.1874px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 62.5412px; box-shadow: black 0px 0px 55px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/2b28f4b0a519aec3afd5f8ce6350f6bd.jpg?x-oss-process=image/crop,x_50,y_84,w_1097,h_943/auto-orient,1/format,webp/format,webp/quality,Q_90&quot;); background-repeat: no-repeat; background-size: 338.394px 290.889px; background-position: center center; display: none; animation: 1600ms linear 1300ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/2b28f4b0a519aec3afd5f8ce6350f6bd.jpg?x-oss-process=image/crop,x_50,y_84,w_1097,h_943/auto-orient,1/format,webp/format,webp/quality,Q_90"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="20"
                 style="position: absolute; width: 388.125px; height: 162.953px; top: 371.535px; left: 19.6473px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 2000ms 1 normal both running zoomIn;">
                    <div>第一次遇见你时<br>我坐在图书馆中间靠右<br>你坐在图书馆一角看书<br>我感觉<br>这个女孩很文静 很可爱</div>
                </div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-3"
         style="z-index: 996; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-3"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-3"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="21"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="24"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="25"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="28"
                 style="width: 337.793px; height: 290.889px; left: 38.6064px; top: 26.1874px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 62.5412px; box-shadow: black 0px 0px 55px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/8870d8fbb5722c2e420ded2a89801729.jpg?x-oss-process=image/crop,x_46,y_0,w_407,h_351/auto-orient,1/format,webp/format,webp/quality,Q_90&quot;); background-repeat: no-repeat; background-size: 337.793px 291.315px; background-position: center center; display: none; animation: 1600ms linear 1300ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/8870d8fbb5722c2e420ded2a89801729.jpg?x-oss-process=image/crop,x_46,y_0,w_407,h_351/auto-orient,1/format,webp/format,webp/quality,Q_90"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="29"
                 style="position: absolute; width: 254.832px; height: 195.543px; top: 378.245px; left: 81.2823px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 2000ms 1 normal both running zoomIn;">
                    <div>慢慢的我开始注意到你，你说的每一个字，你的每一个背影，你的每一个表情<br>你的微笑就像一缕阳光照进我的心田，悲伤着你的悲伤，幸福着你的幸福</div>
                </div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-4"
         style="z-index: 995; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-4"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-4"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="39"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="42"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="43"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="47"
                 style="position: absolute; width: 317.136px; height: 162.953px; top: 80.1376px; left: 48.9564px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div>忽然之间<br>我养成了刷朋友圈的习惯<br>喜欢上了你分享的每一首歌<br>我曾经尝试放弃过思念<br>但是忘不了那种心动的感觉</div>
                </div>
            </div>
            <div ele-id="48"
                 style="width: 229.01px; height: 312.586px; left: 92.7142px; top: 326.024px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 123.471px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/d033a5a24a35805aec43b85c0e6a1f82.jpg?x-oss-process=image/crop,x_36,y_0,w_537,h_732/auto-orient,1/format,webp/format,webp/quality,Q_90&quot;); background-repeat: no-repeat; background-size: 229.315px 312.586px; background-position: center center; display: none; animation: 1600ms linear 2200ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/d033a5a24a35805aec43b85c0e6a1f82.jpg?x-oss-process=image/crop,x_36,y_0,w_537,h_732/auto-orient,1/format,webp/format,webp/quality,Q_90"
                         style="opacity: 0;"></div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-5"
         style="z-index: 994; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-5"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-5"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="49"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="52"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="53"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="57"
                 style="position: absolute; width: 20.9206px; height: 293.315px; top: 179.515px; left: 197.196px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div>我想我是喜欢上你了</div>
                </div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-6"
         style="z-index: 993; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-6"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-6"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="59"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="62"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated zoomIn"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="63"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated zoomIn"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="67"
                 style="position: absolute; width: 322.788px; height: 130.362px; top: 69.282px; left: 51.4789px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div>我会对你好好的，未来有太多不确定，我不敢给你太美的誓言，但我会一心一意保护好你，希望过了很久以后，站在你身边的依然是我</div>
                </div>
            </div>
            <div ele-id="69"
                 style="width: 258.75px; height: 344.784px; left: 77.3369px; top: 292.298px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated fadeInDown"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 172.392px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/272be40ad34bc6054605948b5f066e6a.jpg?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_90&quot;); background-repeat: no-repeat; background-size: 258.75px 344.784px; background-position: center center; display: none; animation: 1600ms linear 2200ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/272be40ad34bc6054605948b5f066e6a.jpg?x-oss-process=image/crop,x_0,y_0,w_0,h_0/auto-orient,1/format,webp/format,webp/quality,Q_90"
                         style="opacity: 0;"></div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-7"
         style="z-index: 992; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-7"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-7"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="70"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="73"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="74"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="78"
                 style="position: absolute; width: 322.788px; height: 162.953px; top: 69.282px; left: 51.4789px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div>我知道，幸福不是等来的，如果爱一个人就要大胆去表白，只要努力争取过，以后就不会后悔,可是如果因为我的沉默，而错过了一份美好的感情，我可能会一生耿耿于怀。</div>
                </div>
            </div>
            <div ele-id="80"
                 style="width: 258.75px; height: 344.784px; left: 77.3369px; top: 292.298px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 172.392px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ecc3b13a40c3d0065d088bb41f725a45.png?x-oss-process=image/crop,x_36,y_0,w_489,h_652/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 258.75px 345px; background-position: center center; display: none; animation: 1600ms linear 2200ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/ecc3b13a40c3d0065d088bb41f725a45.png?x-oss-process=image/crop,x_36,y_0,w_489,h_652/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-8"
         style="z-index: 991; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -736, 0, 1); opacity: 1; display: none;">
        <div class="page-bg-8"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-8"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="81"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: none; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="84"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="85"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: none; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="89"
                 style="position: absolute; width: 382.237px; height: 521.448px; top: 38.6085px; left: 20.8153px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: left; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: none; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div> 能够遇见你，对我来说是最大的幸福。有了你，我的生活变的绚丽多彩，有了你，世界变得如此迷人。你是我的世界，我的世界是你。<br>
                        我愿意用自己的一生，好好的陪着你，爱着你。陪你到你想去的地方，用心走完我们人生的余下的旅程。<br>
                        在未来的日子里，也许什么都无法确定，但唯一可以确定的是，我爱的人是你，无论现在还是将来，我想我这里都会是你最温暖的港湾，都是为你遮风避雨的城墙。无论狂风，无论暴雨。我都会陪在你的身旁，让你不会感到丝毫的担心和惶恐。我会珍惜和你在一起的每一刻，每一分，每一秒。谁叫你是我最爱的人，谁叫你是第二幸福的人（因为爱上她你是最幸福的了，哈哈）。为了你，我愿用自己的双手为你撑起一片艳阳！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="maka-page maka-page-9"
         style="z-index: 990; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; display: block;">
        <div class="page-bg-9"
             style="position: absolute; width: 467.302px; height: 736px; top: 50%; left: 50%; margin-left: -233.651px; margin-top: -368px; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
        <div class="maka-eleCanvas maka-eleCanvas-9"
             style="width: 414px; height: 652.05px; left: 0px; top: 41.975px; position: absolute;">
            <div ele-id="103"
                 style="width: 414px; height: 652.05px; left: 0px; top: 0px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 414px 652.05px; background-position: center center; display: block; animation: 1600ms linear 800ms 1 normal both running fadeInDown;">
                    <img src="https://img1.maka.im/user/5227435/images/0d403c139fa611a333c726d0c0c9e8da.png?x-oss-process=image/crop,x_0,y_0,w_640,h_1008/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="106"
                 style="width: 141.206px; height: 225.929px; left: 272.192px; top: 425.483px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 141.206px 225.929px; background-position: center center; display: block; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/99ae61d3bd31ce639dcdcb3993fa2e41.png?x-oss-process=image/crop,x_0,y_0,w_500,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="107"
                 style="width: 135.844px; height: 225.759px; left: -57.283px; top: 424.836px; position: absolute; opacity: 1; transform: rotate(0deg); cursor: pointer;"
                 class="rotateZ0">
                <div class="animated"
                     style="position: absolute; width: 100%; height: 100%; overflow: hidden; border-radius: 0px; box-shadow: black 0px 0px 0px; background-image: url(&quot;https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100&quot;); background-repeat: no-repeat; background-size: 135.844px 225.936px; background-position: center center; display: block; animation: 1600ms linear 2100ms 1 normal both running zoomIn;">
                    <img src="https://img1.maka.im/user/5227435/images/ee551443f20545c5a0d5e5aad2c7f25f.png?x-oss-process=image/crop,x_9,y_0,w_481,h_800/auto-orient,1/format,webp/format,webp/quality,Q_100"
                         style="opacity: 0;"></div>
            </div>
            <div ele-id="111"
                 style="position: absolute; width: 21.753px; height: 195.543px; top: 215.939px; left: 196.219px; transform: rotate(0deg); transform-origin: center center; opacity: 1;"
                 class="rotateZ0">
                <div class="text animated"
                     style="width: 100%; height: 100%; color: rgb(0, 0, 0); text-align: center; font-weight: normal; text-decoration: none; line-height: 1.8; font-style: normal; overflow-wrap: break-word; white-space: pre-wrap; font-size: 18px; letter-spacing: 0px; display: block; animation: 1600ms linear 1500ms 1 normal both running pullUp;">
                    <div>我们在一起吧</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>